body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.options {
    display: flex;
    justify-content: space-between; /* Añade espacio entre los elementos */
    flex-grow: 1;
    padding: 20px; /* Añadir padding para que no estén tan pegadas a los bordes */
}

.option {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Añadir un pequeño margen lateral para que no estén pegadas */
}

.option img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.option p {
    margin: 0;
    font-size: 20px; /* Ajustar tamaño del texto */
    font-weight: bold; /* Negrita para mayor visibilidad */
    color: #333;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 10px 20px; /* Espacio alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para mejorar la visibilidad */
    transition: transform 0.3s ease; /* Efecto hover */
}

.option:hover p {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.option:hover {
    background-color: #e0e0e0;
}

.option a {
    text-decoration: none;
    color: #333;
}

#cultivos {
    background-color: #dff0d8;
}

#animales {
    background-color: #d9edf7;
}
